/************ELEMENT***************/

body {
  color: dimgrey;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
h1 {
  color: #489494;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #66bfbf;
}

hr {
  border-style: none none dotted;
  border-width: 10px;
  border-color: #eaf6f6;
  width: 10%;
}

p {
  line-height: 1.5;
}
/************CLASS SELECTORS***************/
.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-container {
  background-color: #cdfcfc;
  margin-top: 0;
  padding: 100px 0 0 0;
  position: relative;
  text-align: center;
}
.profile {
  margin: 0 auto 100px auto;
  width: 80%;
}

.skills {
  margin-top: 50px;
}
.middle-container {
  margin: 0 auto;
  width: 50%;
}
.bottom-container {
  background-color: #66bfbf;
  margin-top: 50px;
  padding: 30px 0;
}
.skill-row {
  font-size: 16px;

  margin: 100px auto;
  text-align: left;
  width: 75%;
}
.profile-pic {
  margin-top: 50px;
  width: 25%;
}
.flower-pic {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.baking-pic {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.contact-me {
  font-size: 16px;
  margin: 0 auto 50px;

  width: 75%;
}
.btn {
  background: #66bfbf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

.btn:hover {
  border: none;
  background: #489494;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.footer-link {
  color: #489494;
  font-size: 14px;
  line-height: 2;
  margin: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: teal;
  transition: ease-in-out 4ms;
}

/************ID SELECTORS***************/
#copyright {
  font-size: 10px;
  color: white;
  padding: 20px 0 0;
}
